.main-page {
    width: 100vw;
    height: fit-content;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.section {
    position: relative;
    width: 100%;
    height: 100vh;
}

.section1 {
    display: flex;
    background: linear-gradient(
        to right,
        #1C1C1C 0%,
        #1C1C1C 50%,
        #FEFEFE 50%,
        #FEFEFE 100%
      );
}

.black-section1 {
    /* background-color: #1C1C1C; */
    width: 50%;
    height: 100vh;
    top: 0;
    left: 0;
}

.white-section1 {
    width: 50%;
    height: 100vh;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

.main-header {
    font-size: 6rem;
    width: 70%;
    font-weight: 400;
    text-align: right;
    margin: 1rem 0;
    color: #1C1C1C;
}

.small-text {
    text-align: right;
    width: 70%;
    font-size: 2rem;
    margin: 0 0 2rem 0;
    color: #3E3C34;
}

.sign-btn {
    background-color: #1C1C1C;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 2rem;
    font-family: assistant;
    padding: 0.5rem 1rem;
}

.header {
    font-size: 4rem;
    font-weight: 400;
    margin: 1rem 0;
    text-align: right;
    width: 60vw;
}

.main-page-text {
    font-size: 2.5rem;
    text-align: right;
    margin: 1rem 0;
}

.text-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    flex-wrap: nowrap;
}

.white-section2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.slider {
    background-color: wheat;
    width: 25%;
    height: 20rem;
    margin: 0 5rem 0 0;
}

.text-pic-section {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 6rem 0 0 0;
}

.text-pic-section1 {
    flex-direction: row-reverse;
}

.logo-till {
    background-image: url('../../media/images/logo-till.svg');
    width: 25%;
    height: 20rem;
    margin: 0 0 0 5rem;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}